/* Album page */

.single-post {
	header {
		#site-social {
			opacity: 0;
			transition: 200ms all;
		}

		&:hover {
			#site-social {
				opacity: 1;
			}
		}
	}
}

article {
	position: relative;
	padding-top: 1.67em;

	h1 {
		margin: 0 0 0.67em;
	}
}

.gallery {
	text-align: center;
	width: 100%;

	.gallery-image {
		margin: 0px auto 100px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}


.social-links-single {
	position: relative;
	float: right;
	display: inline-block;
	text-align: right;

	.social-links-share-button {
		position: absolute;
		color: #999;
		display: inline-block;
		opacity: 1;
		right: 0;
		top: 10px;
		@include transition(opacity 300ms);
		z-index: 1;
	}

	.social-links-block {
		font-family: 'Socialglyphs-Regular', sans-serif;
		text-transform: none;
		font-size: 1.5em;
		opacity: 0;
		@include transition(opacity 300ms);
		z-index: 50;
		position: relative;

		li {
			display: inline-block;
			vertical-align: top;
			text-align: center;

			a {
				display: inline-block;
			}
		}

	}

	&:hover {
		.social-links-share-button {
			opacity: 0;
		}

		.social-links-block {
			opacity: 1;
		}
	}
}

@media only screen and (min-width : 320px) and (max-width : 480px),
	only screen and ( min-device-width: 320px ) and ( max-device-width: 480px ) { 

	article {
		padding: 2.5em 0 0 0;

		h1, h1.entry-title {
			font-size: 1.8em;
		}	

	}

	.social-links-single {
		&:nth-of-type(1) {
			display: none;
		}

		.social-links-share-button {
			opacity: 1;
			display: inline-block;
			position: relative;
			top: 0;
		}

		.social-links-block {
			opacity: 1;
			display: inline-block;
		}
	}
}