/* Album page */

.single-post {
	header {
		#site-social {
			opacity: 0;
			transition: 200ms all;
		}

		&:hover {
			#site-social {
				opacity: 1;
			}
		}
	}
}

article {
	position: relative;
	padding-top: 1.67em;

	h1 {
		margin: 0 0 0.67em;
	}
}


.social-links-single {
	position: relative;
	float: right;
	display: inline-block;
	text-align: right;

	.social-links-share-button {
		position: absolute;
		color: #999;
		display: inline-block;
		opacity: 1;
		right: 0;
		top: 10px;
		@include transition(opacity 300ms);
		z-index: 1;
	}

	.social-links-block {
		font-family: 'Socialglyphs-Regular', sans-serif;
		text-transform: none;
		font-size: 1.5em;
		opacity: 0;
		@include transition(opacity 300ms);
		z-index: 50;
		position: relative;

		li {
			display: inline-block;
			vertical-align: top;
			text-align: center;

			a {
				display: inline-block;
			}
		}

	}

	&:hover {
		.social-links-share-button {
			opacity: 0;
		}

		.social-links-block {
			opacity: 1;
		}
	}
}