/* Album list */

#album-list {
	max-width: $content-width;
	margin: 0px auto;
	text-transform: uppercase;

	.single-album {
		display: inline-block;
		margin: 0px 16px 8px;

		.post-image {
			max-height: 243px;
			overflow: hidden;
		}

		.post-link {
			h3 {
				font-size: 1em;
				margin: 0;
			}
		}
	}
}

.page-template-albums-php header #wrap {
	border-bottom: none;
}

@media only screen and (min-width : 320px) and (max-width : 480px),
	only screen and ( min-device-width: 320px ) and ( max-device-width: 480px ) { 

	#album-list {
		.single-album {
			margin: 0px 0 8px;

			.post-link {
				padding-left: 8px;
			}
		}
	}	
}