@font-face {
    font-family: 'Socialglyphs-Regular';
    src: url('type/socialglyphs-regular.eot');
    src: url('type/socialglyphs-regular.eot?#iefix') format('embedded-opentype'),
         url('type/socialglyphs-regular.woff') format('woff'),
         url('type/socialglyphs-regular.ttf') format('truetype'),
         url('type/socialglyphs-regular.svg#socialglyphs-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}