/* Homepage */


#river {
	text-transform: uppercase;

	.album-post {
		display: inline-block;
		
		h3 {
			margin: 0.25em;
		}
	}
}

/* Desktop only */

@media only screen and (min-width: 480px),
	only screen and (min-device-width: 480px) {

	body.home {
		margin-top: 110px;

		.more-albums-link {
			display: none;
		}
		
		header {
			max-width: none;
			margin: 0;
			top: 0;
			position: fixed;
			border-bottom: none;
		}

		#river {
			white-space: nowrap;

			.album-post {
				margin: 0px 10px;
				display: inline-block;
				vertical-align: top;
			}

			a {
				display: inline-block;
			}

		}

		footer {
			position: fixed;
			width: 100%;
			bottom: 0;
			background: #fff;
		}

	}	
}

@media only screen and (max-width : 480px),
	only screen and ( max-device-width: 480px ) { 

	body.home {
		margin-top: 0;
		
		.more-albums-link {
			margin: 35px 0px 75px;
			text-align: center;
			font-size: 1.5em;
			display: block;
		}

		#river {
			white-space: wrap;

			a {
				display: inline;
			}

			.album-post {
				display: block;
				margin: 0;

				img {
					max-width: 100%;
					height: auto;
				}
			}
		}		
	}

}