/* Main styles */

body {
	color: #333;
	font-family: 'Linden Hill', serif;
}

header, nav, footer {
	text-transform: uppercase;
}

a {
	color: #111;
	text-decoration: none;
	&:hover {
		color: #444;
	}
}

ul, li {
	list-style-type: none;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-weight: normal;
}

/* Header */

header {
	position: relative;
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px solid #ddd;

	h1#site-title, div#site-title {
		font-size: 2em;
		margin: 0.8em 0;
	}

	#nav_button {
		display: none;
	}

	#site-social {
		position: absolute;
		right: 0px;
		top: 30px;
		font-family: 'Socialglyphs-Regular', sans-serif;
		text-transform: none;
		font-size: 1.5em;

		li {
			display: inline-block;
			width: 0.7em;
			vertical-align: top;

			&.email {
				padding-top: 2px;
			}

		}

	}
}

/* Nav */

nav {
	ul {
		padding: 0px;

		li {
			display: inline-block;
			margin-right: 10px;

			a {
				display: inline-block;
			}

		}
	}
}

header, article {
	max-width: $content-width;
	margin-left: auto;
	margin-right: auto;
}

article {
	text-transform: uppercase;

	h1.entry-title {
		font-size: 2.3em;
	}

	padding: 10px;
}

.gallery {
	text-align: center;
	width: 100%;

	.gallery-image {
		margin: 0px auto 50px;
	}
}

#river {
	text-transform: uppercase;

	.album-post {
		display: inline-block;
		
		h3 {
			margin: 0.25em;
		}
	}
}

footer {
	text-align: center;
	font-size: 0.8em;
	margin-top: 20px;
}

/* Desktop only */

@media only screen and (min-width: 480px) {

	body.home {
		margin-top: 140px;
		
		header {
			max-width: none;
			margin: 0;
			top: 0;
			width: 100%;
			position: fixed;
			background: #fff;
			border-bottom: none;
			padding: 0;
			text-align: center;

			#wrap {
				max-width: $content-width;
				margin: 0px auto;
				text-align: left;
				position: relative;

				#site-title, nav  {
					margin-left: 10px;
				}

				#site-social {
					right: 10px;
				}
			}
		}

		#river {
			white-space: nowrap;

			.album-post {
				margin: 0px 10px;
				display: inline-block;
				vertical-align: top;
			}

			a {
				display: inline-block;
			}

		}

		footer {
			position: fixed;
			width: 100%;
			bottom: 0;
			background: #fff;
		}

	}	
}

/* Mobile */

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) { 

	html {
		margin-top: 50px;
	}

	header {
		position: fixed;
		padding: 0;
		top: 0;
		left: 0;
		width: 100%;

		#top-row {
			background: #fff;
			padding: 10px;

			#site-title {
				font-size: 1.5em;
				margin: 5px 0 0 0;
			}
		}

		#nav_button {
			display: inline-block;
			position: absolute;
			right: 10px;
			top: 19px;
			color: #222;
			font-size: 1.5em;
			line-height: 1em;
			cursor: pointer;

		}

		#site-social {
			display: none;
		}
	}

	nav {
		background: #fff;
		width: 100%;
		max-height: 0;
		height: auto;
		transition: 200ms all;
		overflow: hidden;
		box-shadow: 0px 2px 3px #777;

		&.visible {
			max-height: 150px;
		}

		ul {
			width: 100%;
			border-top: 1px solid #ddd;
			margin: 0;

			li {
				border-bottom: 1px solid #ddd;
				display: block;
				margin: 0;

				a {
					padding: 10px 0px;
					display: block;
					/* font-weight: bold; */
					text-align: center;
				}
			}
		}
	}

	#river {
		.album-post {
			margin: 0px 0px 10px;
		}

	}


	article {
		
	}


}